


<p id="notice" class="right"><%= notice %></p>
<br>
<h1 class="centered">Set Times</h1>
<h5 class="centered">number of sets displayed on page = <%= @set_times.count %><h5>
<hr class="clear-both">

